#content #hotnews li {
	float: left;
	padding: 10px 4px;
}
#content #hotnews li a:hover {
	color: #f00;
}
#content #hotnews strong {
	float: left;
	width: 100px;
	padding: 10px 0;
}
#content #hotnews {
	width: 1122px;
	border-bottom: 1px solid;
}
#content #main .top{
	margin: 0 auto;
}
#content #main .top .tuijian,.guanyu,.lianxi {
	float: left;
	margin-top: 20px;
	margin-right: 7px;
	margin-left: 12px;
	width: 353px;
	height: 124px;
	background: url('images/mainbg.png');
}
#content #main .top h2 {
	font-size: 15px;
	padding-top: 10px;
	padding-left: 20px;
}
#content #main .top .tuijian a {
	display: block;
	width: 96px;
	height: 78px;
	float: left;
	margin-top: 15px;
	margin-left: 13px;
}
#content #main .top .tuijian a:hover {
	border: 1px solid;
}
#content #main .top .guanyu p{
	width: 215px;
	height: 85px;
	float: left;
	text-indent: 2em;
	padding-top: 15px;
	font-size: 12px;
	margin-left: 10px;
}
#content #main .top .guanyu img {
	float: left;
}
#content #main .top .lianxi p{
	font-size: 15px;
	padding-left: 30px;
	padding-top: 15px;
}
#content #main  .sideleft {
	width: 200px;
	height: 315px;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	border: 1px solid #CACAD9;
}
#content #main  .sideleft  h2 {
	width: 180px;
	height: 40px;
	background: #0D9590;
	line-height: 40px;
	padding-left: 20px;
	color: #fff;
}
#content #main  .sideleft ul li {
	width: 185px;
	border-bottom: 1px dotted;
	padding: 8px 0;
	margin-left: 5px;
	text-align: center;
}
#content #main  .sideleft ul li a{
	display: block;
	font-size: 12px;
	color: #333;
}
#content #main  .sideleft ul li a:hover {
	color: red;
}
#content #main  .side2 {
	width: 200px;
	height: 355px;
	border: 1px solid #CACAD9;
	margin-top: 15px;
}
#content #main  .side2 p{
	font-size: 15px;
	margin-left: 5px;
	color: #646473;
	line-height: 29px;
}
#content #main .main {
	width: 865px;
	height: 700px;
	float: left;
	margin-left: 20px;
	margin-top: 15px;
}
#content #main .main .h {
	font-size: 8px;
	color: #646473;
	border-bottom: 2px solid #666;
}
#content #main .main .h em {
	float: left;
	font-size: 50px;
	margin-top: -15px;
	margin-bottom: -10px;
	color: #0D9590;
}
#content #main .main .h p{
	float: left;
	width: 50px;
	padding-left: 8px;
}
#content #main .main img {
	display: block;
	padding-top: 20px;
	margin: 0 auto;
}
#content #main .main .text {
	text-indent: 2em;
	font-size: 12px;
	margin-top: 30px;
	line-height: 30px;
	color: #666;
}
#content #main .main a{
	display: inline-block;
	padding-top: 15px;
	color: #666;
	font-size: 15px;
}
#content #main .main a:hover{
	color: red;
}