
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,em,form,fieldset,legend,input,textarea,select {margin:0;
	padding:0;
	font-family: '微软雅黑';
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
#header {
	position: relative;
	width: 100%;
	height: 100px;
	background: #0B8B8E;
}
#header .header,#content,#footer .footer{
	position: relative;
	width: 1120px;
	margin: 0 auto;
}
#banner {
	height: 430px;
	background: url('images/banner2.png') center no-repeat;
}
#header h1 {
	width: 284px;
	height: 100px;
	float: left;
	text-indent: -9999em;
	background: url('images/logo2.png');
}
#header .header .sosuo a{
	display: block;
	float: right;
}
#header .header .sosuo{
	margin-top: 10px;
	width: 190px;
	height: 30px;
	float: right;
}
#header .header .sosuo input {
	width: 153px;
	height: 27px;
}
#header .header .nav {
	position: absolute;
	right: 10px;
	bottom: 10px;
}
#header .header .nav li {
	float: left;
	font-size: 15px;
	padding-left: 30px;
}
#header .header .nav .second a{
	background: url('images/nav-bg.png') no-repeat;
	color: #0B8B8E ;
}
#header .header .nav li a{
	color: #fff;
	padding: 10px 14px 18px 14px;
}
#header .header .nav li a:hover {
	background: url('images/nav-bg.png') no-repeat;
	color:#0B8B8E ;
}
#footer {
	width: 100%;
	margin-top:50px;
	height: 95px;
	background: #353535;
}
#footer .footer ul{
	width: 500px;
	margin: 0 auto;
}
#footer .footer ul li {
	float: left;
	margin-top: 20px;
}
#footer .footer li a {
	display: inline-block;
	padding:  0 15px ;
	color: #666;
}
#footer .footer li a:hover {
	color: #fff;
}
#footer .footer li:after{
	content: '|';
	font-size: 15px;
	float: right;
}
#footer .footer .last:after{
	content: '';
}
#footer .footer p{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	float: left;
	color: #666;
}
.clearfix:after{
	content:"";
	display: block;
	clear: both;
}
@media screen and (min-width: 300px) and (max-width: 1125px) {
    #header,#banner,#footer{ width: 1120px; }
}